:root {
  --main-color: blue;
  --secondary-color: red;
  --profile-color: #343a40;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

h2 {
  font-family: "Inter", sans-serif;
}

h3, h4  {
  font-family: "Source Serif 4", serif;
}

h2 {
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  margin: .5rem;
}

.grid {
  display: grid;
}

.grid.astro_container {
  grid-template-columns: repeat(3, 1fr);
}

.hero-text {
  margin-top: 0;
  padding-top: 1rem;
}

@media only screen and (max-width: 991px) {
  .grid.astro_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid.astro_container {
    grid-template-columns: 1fr;
  }
}