.background-container {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://www.toptal.com/designers/subtlepatterns/uploads/country-quilt.png') repeat;
  /* background: url('space-background.jpg');
  background-size: contain; */
}

