.astro_card {
  margin: 1rem;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 0 .35rem #777;
  padding: 1rem;
  background: transparent;
  backdrop-filter: blur(2px);
  border: .5rem solid var(--leaflet-blue);
}

.astro_name {
  color: var(--profile-color);
  font-weight: 700;
}

.astro_cover {
  max-width: 15rem;
  overflow: hidden;
  display: block;
  margin: .5rem auto;
  height: 15rem;
  border-radius: 100%;
}

.astro_image {
  max-width: 100%;
  box-sizing: border-box;
}